.text-muted-crawl {
  color: #a1a1a1;
}

.sub-text-crawl {
  font-size: 10pt;
}

.text-crawl {
  color: #ec764e;
}

.text-error-crawl {
  color: red !important;
}

.text-center-crawl {
  text-align: center;
}
